.field{
    display:flex;
    flex-direction:column;
    color:white;
}

.field label{
    margin-bottom:8px;
    font-weight:bold;
}

.card-content{
    padding:20px;
}

.card-content p{
    margin-top:10px;
}
